In [1]:
import pandas as pd

In [10]:
dax = pd.read_csv("./data/dax-data.csv")

In [11]:
dax

,Unnamed: 0,date,open,high,low,close,iblow,ibhigh,ibclose,range,ibrange,daydir,ibdir,ibdaytype,weekday
0,0,2021-03-04,14015.44,14095.81,13959.27,14056.34,13976.44,14056.32,14006.65,136.54,79.88,up,down,both-broken,3
1,1,2021-03-05,13958.54,14068.03,13868.20,13920.69,13868.20,13970.17,13901.60,199.83,101.97,down,down,high-broken,4
2,2,2021-03-08,14024.57,14402.92,13977.13,14380.91,13977.13,14050.00,14013.16,425.79,72.87,up,down,high-broken,0
3,3,2021-03-09,14345.51,14475.65,14309.35,14437.94,14309.35,14403.48,14392.05,166.30,94.13,up,up,high-broken,1
4,4,2021-03-10,14439.45,14560.97,14408.52,14540.25,14408.52,14488.46,14477.09,152.45,79.94,up,up,high-broken,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,271,2022-03-28,14376.00,14627.58,14371.90,14417.37,14371.90,14527.01,14504.18,255.68,155.11,up,up,high-broken,0
272,272,2022-03-29,14592.74,14925.25,14553.71,14820.33,14553.71,14664.29,14603.33,371.54,110.58,up,up,high-broken,1
273,273,2022-03-30,14712.32,14744.72,14555.87,14606.05,14586.01,14744.72,14620.20,188.85,158.71,down,down,low-broken,2
274,274,2022-03-31,14674.83,14732.00,14404.03,14414.75,14603.31,14732.00,14607.18,327.97,128.69,down,down,low-broken,3
275,275,2022-04-01,14447.78,14506.02,14403.09,14446.48,14403.09,14502.93,14439.08,102.93,99.84,down,down,high-broken,4

In [12]:
dax = dax.drop(dax.columns[0], axis=1)

In [7]:
def get_lags(df, c, n):
    for i in range(1, n+1):
        df[c + "_lag_" + str(i)] = df[c].shift(i)

In [13]:
def get_daytype(r):
    if r.high >= r.high_lag_1 and r.low >= r.low_lag_1:
        ret = "up"
    elif r.high >= r.high_lag_1 and r.low <= r.low_lag_1:
        ret = "outside"
    elif r.high <= r.high_lag_1 and r.low >= r.low_lag_1:
        ret =  "inside"
    elif r.high <= r.high_lag_1 and r.low <= r.low_lag_1:
        ret = "down"
    else:
        ret = "wtf"
    return ret

In [17]:
dax.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276 entries, 0 to 275
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       276 non-null    object
 1   open       276 non-null    float64
 2   high       276 non-null    float64
 3   low        276 non-null    float64
 4   close      276 non-null    float64
 5   iblow      276 non-null    float64
 6   ibhigh     276 non-null    float64
 7   ibclose    276 non-null    float64
 8   range      276 non-null    float64
 9   ibrange    276 non-null    float64
 10  daydir     276 non-null    object
 11  ibdir      276 non-null    object
 12  ibdaytype  276 non-null    object
 13  weekday    276 non-null    int64
dtypes: float64(9), int64(1), object(4)
memory usage: 30.3+ KB

In [26]:
# Daytype
cp = dax[["date", "ibdir", "high", "low", "daydir"]].copy()
get_lags(cp, "high", 1)
get_lags(cp, "low", 1)
cp["daytype"] = cp.apply(get_daytype, axis=1)
get_lags(cp, "daytype", 27)
cp = cp.dropna()
cp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 249 entries, 27 to 275
Data columns (total 35 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            249 non-null    object
 1   ibdir           249 non-null    object
 2   high            249 non-null    float64
 3   low             249 non-null    float64
 4   daydir          249 non-null    object
 5   high_lag_1      249 non-null    float64
 6   low_lag_1       249 non-null    float64
 7   daytype         249 non-null    object
 8   daytype_lag_1   249 non-null    object
 9   daytype_lag_2   249 non-null    object
 10  daytype_lag_3   249 non-null    object
 11  daytype_lag_4   249 non-null    object
 12  daytype_lag_5   249 non-null    object
 13  daytype_lag_6   249 non-null    object
 14  daytype_lag_7   249 non-null    object
 15  daytype_lag_8   249 non-null    object
 16  daytype_lag_9   249 non-null    object
 17  daytype_lag_10  249 non-null    object
 18  daytype_lag_11  249 non-null    object
 19  daytype_lag_12  249 non-null    object
 20  daytype_lag_13  249 non-null    object
 21  daytype_lag_14  249 non-null    object
 22  daytype_lag_15  249 non-null    object
 23  daytype_lag_16  249 non-null    object
 24  daytype_lag_17  249 non-null    object
 25  daytype_lag_18  249 non-null    object
 26  daytype_lag_19  249 non-null    object
 27  daytype_lag_20  249 non-null    object
 28  daytype_lag_21  249 non-null    object
 29  daytype_lag_22  249 non-null    object
 30  daytype_lag_23  249 non-null    object
 31  daytype_lag_24  249 non-null    object
 32  daytype_lag_25  249 non-null    object
 33  daytype_lag_26  249 non-null    object
 34  daytype_lag_27  249 non-null    object
dtypes: float64(4), object(31)
memory usage: 70.0+ KB

In [27]:
data = cp[["date", "ibdir", "daytype_lag_7", "daytype_lag_27", "daydir"]].copy()

In [28]:
data.head()

          date ibdir daytype_lag_7 daytype_lag_27 daydir
27  2021-04-14  down            up            wtf   down
28  2021-04-15    up            up           down     up
29  2021-04-16    up          down             up     up
30  2021-04-19  down       outside             up   down
31  2021-04-20  down        inside             up   down

In [30]:
data.daytype_lag_27.value_counts()

up         108
down        84
inside      34
outside     22
wtf          1
Name: daytype_lag_27, dtype: int64

In [31]:
data = data[1:].copy()

In [32]:
data

           date ibdir daytype_lag_7 daytype_lag_27 daydir
28   2021-04-15    up            up           down     up
29   2021-04-16    up          down             up     up
30   2021-04-19  down       outside             up   down
31   2021-04-20  down        inside             up   down
32   2021-04-21  down            up             up     up
..          ...   ...           ...            ...    ...
271  2022-03-28    up        inside           down     up
272  2022-03-29    up          down           down     up
273  2022-03-30  down            up           down   down
274  2022-03-31  down            up           down   down
275  2022-04-01  down       outside             up   down

[248 rows x 5 columns]

In [33]:
data.to_csv("./data/trade/dax_01_dir_daytype.csv")